.tabby-tabs ul li, .tabby-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabby-tabs ul:before {
  display: table;
  content: " ";
}

.tabby-tabs ul:after {
  clear: both;
  display: table;
  content: " ";
}

.tabby-tabs ul {
  margin-bottom: 15px;
}

.tabby-tabs ul li {
  float: left;
  position: relative;
  display: block;
}

.tabby-tabs ul li a {
  position: relative;
  display: block;
  padding: 10px 25px 10px 25px;
  border: 2px solid #34495e;
  border-radius: 4px;
  color: #34495e;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
}

.tabby-tabs ul li a:hover, .tabby-tabs ul li a.active {
  background-color: #34495e;
  color: #fff;
  text-decoration: none;
}

div[data-tab] {
  display: none;
  position: relative;
  min-height: 200px;
  padding-bottom: 40px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 -25px 0;
  border-bottom: 6px solid rgba(0, 0, 0, .1);
  border-left: 6px solid rgba(0, 0, 0, .1);
  border-right: 6px solid rgba(0, 0, 0, .1);
  border-top: 6px solid rgba(0, 0, 0, .4);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: rot .6s infinite linear;
          animation: rot .6s infinite linear;
}
@-webkit-keyframes rot {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
@keyframes rot {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
